/* css styles */
table.dataTable thead th {
  background-color: white !important;
  color: black !important;
  font-weight: bold;
}
.dataTables_wrapper, 
.dataTables_length, 
.dataTables_filter, 
.dataTables_info, 
.dataTables_paginate {
  background-color: white !important;
  color: black !important;
}
.dataTables_filter input {
  background-color: white !important;
  color: black !important;
}
table.dataTable {
  border: 1px solid black !important;
}

/* Make all iframes larger and full page width */
.big-iframe {
  max-width: 1600px;   /* expand total width */
  width: 1300px;
  height: 900px;
  margin: 0 auto;
  position: relative;
  left: 40px;          /* pushes iframe to the right */
  border: none;
}



.big-iframe iframe {
  width: 100%;
  height: 100%;
}